


@*@model IEnumerable<TrashPickup.Models.Customer>*@
@model MunicipalTrashCollection.Models.Address


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Account</h2>


<table class="table table table-hover ">
    @*<thead>
            <tr>
                <th>Customer Information</th>
            </tr>
        </thead>*@

    <tbody>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr>
            <td>@Model.Customer.FirstName</td>
            <td>@Model.Customer.LastName</td>
        </tr>
        <tr>
            <th>Street</th>
        </tr>
        <tr>
            <td>@Model.StreetName</td>
        </tr>
        <tr>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
        </tr>
        <tr>
            <td>@Model.City</td>
            <td>@Model.State</td>
            <td>@Model.ZipCode</td>
        </tr>
        <tr>
            <th>Pick Up Day</th>
        </tr>
        <tr>
            <td>@Model.Day.Name</td>
        </tr>
    </tbody>
</table>

@*<div class="form-inline">
    <h3>Change PickUp Date</h3>
    <input type="date">
    </div>*@

@*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Edit" class="btn btn-default" />
        </div>                                                                   
    </div>*@
    
@Html.ActionLink("Edit Customer Account", "EditCustomerDay", new { id = Model.Customer.Id }) 

