


@*@model IEnumerable<TrashPickup.Models.Customer>*@
@model MunicipalTrashCollection.Models.Address


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Account</h2>


<table class="table table table-hover ">
    @*<thead>
        <tr>
            <th>Customer Information</th>
        </tr>
    </thead>*@

    <tbody>
        <tr>
            <th>First Name</th><th>Last Name</th>
        </tr>
        <tr>
            <td>@Model.Customer.FirstName</td><td>@Model.Customer.LastName</td>     
        </tr>
        <tr>
            <th>Street</th>
        </tr>
        <tr>
            <td>@Model.StreetName</td>          
        </tr>
        <tr>
            <th>City</th><th>State</th><th>Zip Code</th>
        </tr>
        <tr>
            <td>@Model.City</td><td>@Model.State</td><td>@Model.ZipCode</td>    
        </tr>
        <tr>
            <th>Pick Up Day</th>
        </tr>
        <tr>
            <td>@Model.Day.Name</td>
        </tr>

    </tbody>





    @*<tbody>

                @foreach (var value in Model)
                {
                    <tr>
                        <td>@value.Customer.FirstName</td>
                        <td>@value.Customer.LastName</td>
                       <td>@value.StreetName</td>


        </tr>
                }
        </tbody>*@
</table>   